/* ===================== STANDARD CLASS ===================== */

* {
  margin: 0px;
  padding: 0px;

  font-family: "Figtree", sans-serif;
}

body {
  height: 100vh;
  background-color: rgba(6, 23, 30);
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

/* ===================== header-area ===================== */

.main-header {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: rgba(9, 33, 42, 1);
  box-shadow: 0px 0px 1px rgba(10, 249, 137, 0.02),
    0px 2px 4px rgba(10, 249, 137, 0.03), 0px 4px 9px rgba(10, 249, 137, 0.05),
    0px 6px 15px rgba(10, 249, 137, 0.06),
    0px 10px 24px rgba(10, 249, 137, 0.08);
}

.header-img {
  padding-left: 16px;
  width: 100%;
}

/* ===================== footer-area ===================== */

.main-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;

  bottom: 0px;
  width: 100%;
  height: 128px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(9, 33, 42, 1);
  border-top-left-radius: 75%;
  border-top-right-radius: 75%;
  box-shadow: 0px -0px 1px rgba(10, 249, 137, 0.02),
    0px -2px 4px rgba(10, 249, 137, 0.03), 0px -4px 9px rgba(10, 249, 137, 0.05),
    0px -6px 15px rgba(10, 249, 137, 0.06),
    0px -10px 24px rgba(10, 249, 137, 0.08);
}

.main-footer p {
  padding: 16px;
}

/* ===================== photo-album-section ===================== */

.photo-album-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.photo-album-section-p {
  padding-top: 104px;
  padding-bottom: 128px;
  color: rgb(255, 255, 255, 1);
  font-size: 56px;
  font-weight: 800;
}

.thumbnail-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1440px;
  padding-bottom: 240px;
}

.thumbnail-img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 16px;
  border-radius: 16px;
  border: 2px solid rgba(18, 70, 88, 1);
}

.thumbnail-img:hover {
  border-color: rgba(107, 193, 225);
  box-shadow: 0px 0px 1px rgba(107, 193, 255, 0.01),
    0px 0px 2px rgba(107, 193, 255, 0.02), 0px 0px 5px rgba(107, 193, 255, 0.03),
    0px 0px 10px rgba(107, 193, 255, 0.04),
    0px 0px 15px rgba(107, 193, 255, 0.04),
    0px 0px 22px rgba(107, 193, 255, 0.05),
    0px 0px 30px rgba(107, 193, 255, 0.06),
    0px 0px 39px rgba(107, 193, 255, 0.07),
    0px 0px 49px rgba(107, 193, 255, 0.08);
}

/* ===================== Dialog ===================== */

.dialog-wrapper {
  width: 560px;
}

dialog {
  background-color: unset;
  border: unset;
  margin: auto;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);;
}

.dialog-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 672px;
  width: 688px;
  border-radius: 40px;
  background-color: rgba(9, 33, 42, 1);
}

.dialog-haeder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 72px;
  padding-bottom: 60px;
  color: white;
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: rgba(9, 33, 42, 1);
  border: none;
  border-radius: 100px;
}

.close-btn:hover {
  background-color: rgba(18, 70, 88, 1); 
}

.close-btn:active {
  background-color: rgba(13, 50, 64, 1); 
}

.dialog-section img {
  padding-bottom: 40px;
  height: 365px;
  width: 100%;
  object-fit: cover;
}

.dialog-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-number {
  padding-left: 56px;
  padding-right: 56px;
  color: white;
}

.dialog-forward-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: rgba(253, 91, 79, 0.1);
  border: none;
  border-radius: 100px;
}

.dialog-forward-button:hover {
  background-color: rgba(253, 91, 79, 0.2);
  
}